
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(178,238,174);
    background: radial-gradient(circle, rgb(150, 240, 144) 0%, rgb(193, 128, 226) 100%);
}

.container {
    border: 0.5px solid #000;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 8px 8px 4px #909090;
}
.container h1 {
    margin-block: 8px;
}
.input-box {
    position: relative;
}
.input-box i {
    position: absolute;
    top: 25%;
    right: 15%;
 font-size: 25px;
 cursor: pointer;
}
.passbox {
    background-color: transparent;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    margin-block: 8px;
    font-size: 18px;
}
.length, .options {
    margin-block: 8px;
    display: flex;
    justify-content: space-between;
}
.length p {
    font-size: 18px;
}
.options input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

.gen-btn {
    border: none;
    padding: 15px;
    margin-block: 8px;
    background-color: #583394;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 800;
}
.gen-btn:hover {
    background-color: #0e1e77;
}