*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.left-player {
    width: 400px;
    height: 300px;
    position: absolute;
     bottom: 5%;
     left: 25px;
    object-fit: contain;
}
.right-player {
    width: 400px;
    height: 300px;
    position: absolute;
     bottom: 5%;
    right: 20px;
    object-fit: contain;
}